body {
    font-family: 'Montserrat', sans-serif; /* Красивый шрифт из Google Fonts */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Светлый фон */
    color: #333; /* Цвет текста */
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 2.5em;
    font-weight: 700; /* Толстый текст */
}

footer {
    background-color: #f1f1f1;
    color: #555;
    text-align: center;
    padding: 20px 0;
    font-size: 1.2em;
}
